*{
	margin: 0px;
	padding: 0px;
	
}
body{
background: url("../img/re.jpg");	
background-position: 50% 70%;
}
input{
	 display:block;
     height: 55px;
	 width: 400px;
     margin:10px;
     
     border:1px solid ;
     font-size:16pt;
	 padding: 10px 20px;
	 background-color: rgba(255,255,255,0.05);
	 color: #363636;
	 outline: none;
	}

div#corpo-form{
	
    width:420px;
	border-radius:20px;
    margin: 100px  auto 0px auto;
	
}
div#corpo-form-Cad{
     border-radius:20px;
     width:420px;
     margin: 100px  auto 0px auto;	
} 
div#corpo-form h1, div#corpo-form-Cad h1{
	text-align: center;
	border-radius:20px;
	padding: 20px;
	}
	a{
	 color: white;
     text-decoration: none;
     text-align: center;
     display:block;		
	 font-family:arial;
	}
	
	
	
	input[type=submit]{
		background-color:#1C1C1C;
		border-radius:20px;
		border: none;
		cursor: pointer;
		text-decoration:none;

	}

	
	
	::-webkit-input-placeholder { 
	   color:#363636;
	   border-radius:20px;
	}
	 :-moz-input-placeholder{
       color: white;
	   border-radius:20px;
	}
     ::-moz-input-placeholder{
       color: white;
	   border-radius:20px;
	}
      :-ms-input-placeholder{
       color: white;
	   border-radius:20px;
	}	


div.msg-er{
width:420px;
 margin: 10px auto;
 border-radius:20px;
 padding: 20px;
 background-color:white;
}
#rodape{
width:1000x;
height:40px;
background-color:white;
text-align:center;
font-size:25px;
color:white;	
margin-top:1000px;
clear:both;
font-family:arial;
}

#menu ul{
margin: 0;
background-color:#1C1C1C;	

list-style: none;
font-size: 10px;
text-align: right;

}
#menu ul li{	
 display:inline;

 }
#menu ul li a{
 padding:15px 15px;
display:inline-block;
color:white;

text-decoration: none; 
font-size:20px;
 margin: 10px;

}

.legal{
text-align: left;	
background:white;
font-size:30px;
width:600px;
margin-left:400px;
margin-top:20px;
border-radius:25px;
height: 300px;

}
.image{
border-radius:20px;
height: 200px;
width:200px;
margin-top:40px;
margin-left:30px;
}		

.texto{
	margin-left:250px;
	margin-top:-150px;
	
}


.carrosel{
	width: 1000px;
	margin: 0 auto;
}